<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qr</title>
    <link rel="shortcut icon" href="https://aquaticcalf.github.io/sam.png" type="image/x-icon">
    <link rel="stylesheet" href="https://aquaticcalf.github.io/comic.css">
    <link rel="stylesheet" href="https://aquaticcalf.github.io/cowbull/rainbow.css">
    <style>
        img {
            margin-top: 20px;
            max-width: 300px;
            border: 2px solid #333;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white">
    <div class="text-4xl text-center m-5 mb-3">qr code generator</div>
    <hr class="m-5 border-[#3f3f41]">
    <form class="flex flex-col max-w-[400px] m-auto p-2" action="/" method="post">
        <label for="data" class="text-2xl text-center m-3 rainbow">enter the data you want to encode:</label><br>
        <input type="text" id="data" name="data" class="p-2 block rounded-xl border border-[#ffb3ff] px-3 text-sm font-medium bg-gray-900 text-white" required><br>
        <input type="submit" value="generate qr code" class="bg-gray-900 rounded-xl p-2 max-w-[200px] m-auto hover:cursor-pointer">
    </form>
    <div class="flex justify-center m-5">
        {% if qr_code %}
        <img src="data:image/png;base64,{{ qr_code }}" alt="qr code">
        {% endif %}
    </div>
</body>
</html>
